:root{
    --apricot: #ffcdbc;
    --mangoTango: #f5853f;
    --burntUmber: #7c3626;
    --zinnwalditeBrown: #2d080a;
    --smokyBlack: #130303;
}

#main-container{
    width: 80vw;
    height: 100vh;      
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#generator-form{
    width: 50%;
    min-height: 70%;
    max-height: 90%;
    overflow-y: scroll; 
    border-radius: 10px;
    box-shadow: 3px 6px 35px 6px #130303;
    // box-shadow: inset 3px 3px 25px 6px #ddd;
    padding: 40px;
    text-align: center;
    background-color: #F5853F;
}

.logo{
    font-family: 'Uncial Antiqua', cursive;
    color: rgb(36, 148, 45);
    font-size: 5rem;
    font-weight: bold;
}

.generate-encounter-btn{
    padding: 20px 30px;
    font-size: 1.3rem;
    border: none;
    background-color: var(--zinnwalditeBrown);
    color: var(--apricot);
}

.generate-encounter-btn:focus, .generate-encounter-btn:hover{
    background-color: var(--burntUmber);
    color: var(--apricot);
}