body {
    background-color: #7C3626;
    background-image: url('../../resources/img/furryfucker2.png');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    font-family: 'Kaushan Script', cursive;
    // font-family: 'Uncial Antiqua', cursive;
    color: #130303;
  
  }

