.players-form{
    border-top: 1px solid gray;
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}
.players-form__add-btn{
    margin: 20px;
}
.players-form__add-btn:hover{
    background-color: #fff;
}
.players-form__difficulty{
    border-top: 1px solid gray;
    margin-bottom: 30px;
}
.players-form__remove-btn{
    font-size: 8px;
}
.players-form__generate-btn{
    margin-bottom: 20px;
}
fieldset{
    border: none;
}
.checkbox{
    width: 100px;
}
.players-form__input{
    margin-right: 15px;
}
.ajka{
    display: flex;
}